/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700;800&display=swap');

:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --verde: #56e05d;
    --blanco: #ffffff;
    --gris: #eee7e78a;
    --azul: #233CD6;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', cursive;
}

.banner {
    height: 100vh;
    background-image: var(--background), url('../imagenes/imagen-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.nav {
    display: flex;
    justify-content: flex-end;
    height: 70px;
    align-items: center;
    font-weight: 700;
}

.nav--footer {
    font-weight: 300;
    justify-content: flex-start;
}

.nav__items {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px 15px;
    font-weight: inherit;
    font-size: 110%;
}

#contacto {
    border: 1px solid #fff;
    border-radius: 1rem;
}

.btn-contacto {
    border-radius: 3rem;
    color: #000000b3;
    background-color: #ffffffcf;
    font-size: 17px;
    padding: 1%;
    cursor: pointer;
    text-decoration: none;
}

.welcome {
    float: right;
}

#enlace_contacto {
    margin-top: 13%;
    padding-left: 500px;
}

.title_p {
    margin-top: 10rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 900;
}

#subtitle {
    font-weight: 500;
    color: white;
    margin-top: 4%;
    font-size: 1.3rem;
    float: right;
}

.title {
    margin-top: 5%;
    margin-bottom: 6%;
    font-weight: 500;
    letter-spacing: 2.4px;
}

.section {
    margin-top: 2rem;
    margin-bottom: 5rem;
}

footer {
    background: rgba(2, 2, 2, 0.438);
}

.nav_footer {
    justify-content: flex-start;
}


#navegador {
    background-color: var(--gris);
}

.navbar-light .navbar-toggler {
    color: rgb(0, 0, 0);
    border-color: rgba(11, 10, 10, 0.75);
}

/* seccion items */
.items_icons {
    width: 13%;
    margin: 3%;
}

.enlaces {
    color: var(--azul);
    font-size: 126%;
    font-weight: 600;
    padding-left: 2%;
    padding-right: 2%;
    cursor: pointer;
}

.nav_items_footer {
    color: #fff;
    margin-right: 12px;
    padding: 4px;
    text-decoration: none;
}

/* FOOTER */
.footer_grid {
    display: grid;
    gap: 20px;
    padding-top: 4rem;
    padding-bottom: 3rem;
}

.footer_contacto {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.footer_title {
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}

.footer_icons {
    display: flex;
    justify-content: space-evenly;
}

.content {
    color: var(--gray-dark);
}

.target {
    padding: 3%;
    text-align: justify;
}



#perfil {
    width: 40%;
    height: auto;
    border-radius: 13rem;
}

.imagen {
    margin-top: 10%;
    margin-bottom: 4%;
}

/* habilidades */
.item-habilidades {
    animation: both;
    text-align: center;
}


/* items lab */
.img-item {
    width: 30%;
    height: auto;
    margin: 12px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
}

/* items */



.seccion-lab {
    text-align: justify;
}

.card-imagehover {
    border: 1px solid;
    margin-left: 5%;
    margin-right: 2%;
}

#creditos {
    color: var(--azul);
    font-size: 100%;
    margin: 0px;
    background: var(--gris);
    padding-top: 1%;
    padding-bottom: 1%;
}

.contenedor-icons {
    float: right;
    margin-right: 7%;
    margin-bottom: 12px;
    margin-top: 3px;
    /* background-color: black; */
}

.icons-footer {
    width: 10%;
    height: auto;
    padding-right: 1%;
    cursor: pointer;
    padding-left: 3%;
    float: revert;
}


@media (max-width: 1200px) {}

@media (max-width: 992px) {
    .navbar-nav.mr-auto.mt-2.mt-lg-0 {
        border: 1px solid white;
        border-radius: 1rem;
        background: #ffffff0d;
    }

    .nav-item {
        margin-top: 1%;
        margin-bottom: 1%;
    }

    #contacto {
        border: none;
    }

    .welcome {
        float: none;
    }

    .title_p {
        margin-top: 9rem;
        font-size: 2rem;
        color: #fff;
        font-weight: 900;
    }

    #subtitle {
        margin-top: 0px;
    }

    #enlace_contacto {
        margin-top: 15%;
        padding-left: 11px;
    }

    .wave {
        position: absolute;
        bottom: -50px;
    }
}

@media (max-width: 768px) {}

@media (max-width: 576px) {
    /* .navbar-nav.mr-auto.mt-2.mt-lg-0 {
        border: 1px solid white;
        border-radius: 1rem;
        background: #ffffff0d;
    } */

    /* #contacto {
        border: none;
    } */

    .nav-item {
        margin-top: 2%;
        margin-bottom: 3%;
    }

    /* .welcome {
        float: none;
    } */

    #enlace_contacto {
        margin-top: 35%;
        padding-left: 53%;
    }

    .wave{
        bottom: 0;
    }

    .items_icons {
        width: 18%;
        margin: 3%;
    }

    .nav_footer {
        margin-bottom: 4%;
    }

    .nav_items_footer {
        color: #fff;
        margin-right: 4%;
        padding: 1%;
        text-decoration: none;
        font-size: 100%;
    }

    .icons-footer {
        width: 15%;
        height: auto;
        padding-right: 2%;
        cursor: pointer;
        padding-left: 3%;
        float: revert;
        margin: 3%;
    }
}